- provide(:title, 'Servers')

p DE - Turbo (de.qlrace.com:27960) #{link_to 'Connect', 'steam://connect/de.qlrace.com:27960'}
p DE - Turbo (de.qlrace.com:27961) #{link_to 'Connect', 'steam://connect/de.qlrace.com:27961'}
p TX - Turbo (tx.qlrace.com:27960) #{link_to 'Connect', 'steam://connect/tx.qlrace.com:27960'}
p DE - Classic (tx.qlrace.com:27961) #{link_to 'Connect', 'steam://connect/tx.qlrace.com:27961'}
