- provide(:title, 'Players')

p DE - Turbo #{link_to 'Connect', 'steam://connect/de.qlrace.com:27960'}
p DE - Turbo #{link_to 'Connect', 'steam://connect/de.qlrace.com:27961'}
p TX - Turbo #{link_to 'Connect', 'steam://connect/tx.qlrace.com:27960'}
p DE - Classic #{link_to 'Connect', 'steam://connect/tx.qlrace.com:27961'}
