- provide(:title, 'Servers')

p I will make this look better sometime.
p DE - Turbo #{link_to 'de.qlrace.com:27960', 'steam://connect/de.qlrace.com:27960'}
p DE - Classic #{link_to 'de.qlrace.com:27961', 'steam://connect/de.qlrace.com:27961'}
p TX - Turbo #{link_to 'tx.qlrace.com:27960', 'steam://connect/tx.qlrace.com:27960'}
p DE - Classic #{link_to 'tx.qlrace.com:27961', 'steam://connect/tx.qlrace.com:27961'}
