language: ruby

addons:
  postgresql: "9.3"

services: postgresql

rvm: 2.3.0
bundler_args: --without production
cache: bundler

before_script: bundle exec rake db:create db:migrate
script: bundle exec rspec
