= form_tag(players_path, method: 'get', id: 'search-form', class: 'navbar-form navbar-right') do
  = text_field_tag :search, params[:search], placeholder: 'Find Player', class: 'form-control',
    'data-autocomplete': players_autocomplete_path
  = submit_tag 'Search', name: nil, class: 'btn btn-default'
